<!DOCTYPE html>
<html lang="en">

<head>
    {{>site_head}}
    <title>taskBox</title>
</head>

<body class="bg-green">
    <div class="container-ctm">
        <div class="row justify-content-center">

            <div class="col-xl-8 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0 h-40rm">
                        <!-- Nested Row within Card Body -->
                        <div class="row h-100">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7 container-form">

                                <div class="p-5">
                                    <div class="xs-image text-center pb-5">
                                        <img src="/img/taskBox_ID.svg" width="200" alt="taskbox" />
                                    </div>
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                    </div>
                                    <form class="user" method="POST" action="/register">
                                        {{#if error}}
                                        <div class="form-group row">
                                            <div class="card bg-danger text-white shadow w-100">
                                                <div class="card-body">
                                                    Error
                                                    <div class="text-white-50 small">{{message}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/if}}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="fullName"
                                                placeholder="Full Name..." name="fullname">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" name="email"
                                                id="exampleInputEmail" placeholder="Email Address">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="password" class="form-control form-control-user"
                                                    id="exampleInputPassword" placeholder="Password" name="password">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control form-control-user"
                                                    id="exampleRepeatPassword" placeholder="Repeat Password"
                                                    name="confirm-password">
                                            </div>
                                        </div>
                                        <div class="input-group form-group mb-4">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input custom-input-prepend"
                                                    id="validatedInputGroupCustomFile" name="profilePic">
                                                <label class="custom-file-label custom-input-group"
                                                    for="validatedInputGroupCustomFile">Choose file...</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Register Account
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        {{#if success}}
        $(document).ready(function (e) {
            swal({
                title: 'Success!',
                text: `{{message}}`,
                icon: 'success',
                confirmButtonText: 'Cool'
            })
        })
        {{/if}}
    </script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>