<nav class="shift navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="row w-100">
        <div class="col-md-3">
            <img src="/img/taskBox_ID.svg" class="m-4" width="100" alt="taskBox">
        </div>
        <div class="col-md-6">
            <!-- Topbar Navbar -->
            <div class="navbar-nav text-center ml-5" id="centered" style="justify-content: center;align-content: center;">
                <li class="nav-item text-center">
                    <a class="nav-link" href="/">
                    <i class="fas fa-tachometer-alt pr-1"></i>
                        <b>DASHBOARD</b>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="/daily">
                    <i class="fas fa-th-list pr-1"></i>
                       <b>DAILY</b>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="/weekly">
                    <i class="fas fa-calendar-week pr-1"></i>
                        <b>WEELKY</b>
                    </a>
                </li>
                
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <ul class="navbar-nav ml-auto mr-0">
                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.fullName}}</span>
                        {{#if user.profilePic}}
                            <img class="img-profile rounded-circle" src="{{user.profilePic}}">
                        {{else}}
                            <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                        {{/if}}
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/profile">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </div>

</nav>