<a class="shadow plus-sign-global" data-toggle="modal" data-target=".bd-example-modal-lg">+</a>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" method="POST" action="/new/task">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control form-control-user" id="title" placeholder="Title.."
                               name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control form-control-user" style="border-radius: 25px !important"
                                  id="description" placeholder="Description..."
                                  name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputStateTags">Tags</label>
                        <select id="inputStateTags" multiple="multiple" class="form-control form-control-select"
                                style="width: 100%">
                            {{#each tags}}
                                <option value="{{this.id}}">{{this.title}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="inputStateDay">Day of the week</label>
                            <select id="inputStateDay" class="form-control form-control-select">
                                <option selected="">Choose...</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="inputStatePeriodicity">Periodicity</label>
                            <select id="inputStatePeriodicity" class="form-control form-control-select">
                                <option selected="">Choose...</option>
                                <option>...</option>
                                <option>Fun</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
